:root {
  --dark-color: #125D98;
  --light-color: #3C8DAD;
  --lighter-color: #DDDDDD;
  --orange: #F5A962;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: Arial, Helvetica, sans-serif;
}

#results {
  display: none;
}

input, select {
  outline: none;

  background-color: var(--light-color);
  color:hsl(10, 0%,  90%);
  border: 4px solid transparent;
  border-radius: 5px;
  box-shadow: 2px 3px 3px rgba(100, 100, 100, .2);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] { -moz-appearance:textfield; }

button {
  font-weight: bold;
  font-size: 1.8rem;
  padding: 12px 30px;
  border-radius: 15px 15px;
  box-shadow: 2px 4px 5px rgba(100, 100, 100, .2);
  cursor: pointer;
  background-color: var(--orange);
  border: none;
  color: hsl(10, 0%,  95%);
}

body {
  background-color: var(--lighter-color);
  background-image: url("https://img.icons8.com/material-outlined/24/000000/package.png");
  background-blend-mode: soft-light;
  background-repeat: space;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

#app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

header {
  width: 100%;
  padding: 35px 35px 5px 35px;
}

.header__company {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

.header__company h1 {
  cursor: pointer;
  font-size: 3.8rem;
  font-weight: bold;
  color: hsl(10, 0%,  90%);
  padding: 25px 50px;
  background-color: var(--dark-color);
  border-radius: 50px;
  box-shadow: 2px 4px 5px rgba(100, 100, 100, .2);
}

.header__company h3 {
  position: absolute;
  top: calc(100% - 15px);
  padding: 10px 30px;
  color: hsl(10, 0%,  90%);
  background-color: var(--dark-color);
  font-weight: bold;
  font-style: oblique;
  font-size: 1.6rem;
  border-radius: 70px;
  box-shadow: 2px 5px 5px rgba(100, 100, 100, .2);
}

.header__inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 400px;
  margin: 75px auto 0;
  gap: 20px;
}

.header__inputs > .iProduct{
  width: 70%;
  padding: 8px 5px;
  font-size: 1.8rem;
  text-align-last: center;
  color: white;
}    

.header__inputs > input {
  padding: 3px;
  font-size: 1.6rem;
  text-align: center;
  padding: 8px 10px;
  color: white;
}

.header__inputs > input::placeholder {
  color: hsl(10, 0%,  90%);
}

.headers__inputs--from-to {
  display: flex;
  gap: 10px;
  width: 100%;
}

.headers__inputs--from-to .iProduct {
  width: 100%;
  padding: 8px 10px;
  font-size: 1.6rem;
  margin: 0 10px;
  color: white;
}

.current-order {
  display: flex;
  justify-content: center;
  width: 60%;
  max-width: 400px;
}

.app__order-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding-top: 20px;
  padding-bottom: 30px;
  width: 100%;
}

.app__order-data h2 {
  font-size: 3rem;
  margin-bottom: 15px;
  padding: 15px 50px;
  background-color: var(--dark-color);
  color: white;
  border-radius: 40px;
  box-shadow: 2px 5px 10px rgba(100, 100, 100, .3);
}

.app__order-data input {
  padding: 10px;
  font-size: 1.5rem;
  text-align: center;
}

.app__order-data input::placeholder {
  color: white;
}

.app__order-data input::-webkit-calendar-picker-indicator {
  opacity: 100;
}

.order-data__text-areas {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.order-data__text-areas textarea {
  text-align: center;
  margin: 15px 0;
  border: none;
  padding: 10px;
  box-shadow: 2px 5px 10px rgba(100, 100, 100, .3);
}

.lists {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 35px;
  gap: 40px;
}

.lists h2 {
  font-size: 3.5rem;
  color: hsl(10, 0%,  90%);
}

.orders-top-container, .lists > .current-order > h2 {
  padding: 20px;
  background-color: var(--dark-color);
  margin: 15px 0 20px 0;
  border-radius: 20px;
  box-shadow: 2px 5px 5px rgba(100, 100, 100, .3);
}


.orders-top-container {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  gap: 30px;
}

.orders-top-container h2 {
  align-self: center;
}

.orders-top-container button {
  background-color: var(--lighter-color);
  color: var(--dark-color);
  font-weight: bold;
  box-shadow: 2px 5px 5px rgba(100, 100, 100, .3);
  cursor: pointer;
}

.lists > div > ul > li {
  margin: 5px 0;
  font-size: 2rem;
  background-color: rgba(100, 100, 100, .5);
  box-shadow: 2px 5px 5px rgba(100, 100, 100, .2);

  padding: 10px 40px 10px 10px;
  list-style: none;
  border-radius: 20px;
  color: hsl(10, 0%,  90%);
}

.current-order {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.current-order ul {
  width: 100%;
}

.current-order ul > li {
  cursor: pointer;
}

.current-order ul > li:hover {
  color: hsl(1, 100%,  80%);
}

.orders-list ul {
  width: 100%;
  list-style: decimal;
}

.orders-list ul > li > ul {
  display: none;
  list-style: inside disc;
}

.orders-list ul > li:hover > ul {
  display: block;
}

.orders-summary-list li:hover .hided-ol {
  display: block;
}

.hided-ul {
  display: none;
  list-style-position: inside;
}

@media(min-width: 450px) {
  .orders-top-container {
    flex-direction: row;
  }
}

@media(min-width: 650px) {
  .order-data__text-areas {
      flex-direction: row;
      gap: 30px;
  }

  .lists {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
  }

  .lists > h2 {
    margin: 0 auto;
  }

  .lists > div > ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

@media(min-width: 1280px) {
  main {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
  }
  
  .lists {
    width: 50%;
  }

  .lists > div > ul{
    align-items: flex-start;
  }
}