.app_result {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.result-date {
  font-size: 2rem;
  margin: 3px;
}

.disarmKits {
  display: flex;
  justify-content: space-evenly;
  font-size: 2rem;
  margin: 5px;
  padding: 20px;
  border-bottom: 2px solid #000;
  max-width: 1200px;
}

.disarmKits article {
  margin: 0 15px;
}

.disarmKits article:first-child {
  padding-right: 20px;
  border-right: 1px solid #000;
}

.disarmKits ul, .to_assemble ul{
  list-style: none;
}

.to_assemble {
  padding: 20px;
  margin: 5px;
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  border-bottom: 2px solid #000; 
}

.to_assemble article {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 8px;
  font-size: 1.3rem;
}

.to_assemble ul { 
  margin: 4px 0px;
}

.orders_container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 5px;
  padding: 20px;
  font-size: 1.3rem;
  max-width: 1200px;
}

.order_container {
  max-width: 400px;
}


/* Separators for page break */
.order_container > p {
  visibility: hidden;
}

.order_container ul {
  list-style: none;
  border: 1px solid black;
  padding: 8px;
}