main {
   display: none;
}
  
#results {
   /* display: flex; */
   /* flex-direction: column; */
   /* align-items: center; */
   display: block;
}
 
.orders-pdf-section {
   position: relative;
   display: block;
   gap: 5px;
}
 
.orders-pdf-section div {
   /* position relative to make works page break inside */
   position: relative;
   display: inline-block;
   /* flex-direction: column; */
   border: 1px solid black;
   padding: 7px;
   gap: 10px;
   height: auto;
   page-break-inside: avoid;

}

.orders-pdf-section ol {
   /* position relative to make works page break inside */
   position: relative;
   display: block;
   list-style: none;
}

.orders-pdf-section ol > li {
   font-size: 0.85rem;
   margin: 5px 0;
} 
 
 .disarmed-pdf-section {
   display: block;
   font-size: 1.2rem;
   margin-top: 20px;
}

   
.disarmed-pdf-section ol {
   margin: 40px 0;
   page-break-inside: avoid;
   display: block;
}

.disarmed-pdf-section ol > li {
   display: inline-block;
   margin: 5px 10px;
}
 
 .assemble-pdf-section {
    page-break-before: always;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
   }

.assemble-pdf-section li {
   margin: 2px 20px;
} 

 .bold {
    font-weight: bold;
 }

 h2 {
    font-size: 1.4rem;
 }

 h3 {
    color: black;
 }

    
 .green-amount {
   color: hsl(140, 80%, 30%);
}

.red-amount {
   color: hsl(0, 100%, 40%);
}
