main {
   display: none;
}
  
#results {
   /* display: flex; */
   /* flex-direction: column; */
   /* align-items: center; */
   display: block;
}
 
.orders-pdf-section {
   position: relative;
   display: block;
   gap: 5px;
}
 
.orders-pdf-section div, .assemble-pdf-section ol {
   /* position relative to make works page break inside */
   position: relative;
   display: inline-block;
   border: 1px solid black;
   padding: 7px;
   gap: 10px;
   height: auto;
   page-break-inside: avoid;
   margin: .5%;
}
   
.orders-pdf-section div {
   width: 49%;
}

.orders-pdf-section ol {
   /* position relative to make works page break inside */
   position: relative;
   display: block;
   list-style: none;
}

.orders-pdf-section ol > li {
   font-size: 0.85rem;
   margin: 5px 0;
} 
 
 .disarmed-pdf-section {
   display: block;
   font-size: 1.2rem;
   margin-top: 20px;
}
   
.disarmed-pdf-section ol {
   margin: 40px 0;
   display: block;
   page-break-inside: avoid;
}

.disarmed-pdf-section ol:first-child::before, .disarmed-pdf-section ol:last-child::before{
   display: block;
   margin-left: 40px;
   font-size: 2rem;
}

.disarmed-pdf-section ol:first-child::before {
   content: "Entrada";
}

.disarmed-pdf-section ol:last-child::before {
   content: "Salida";
}

.disarmed-pdf-section ol > li {
   display: inline-block;
   margin: 5px 10px;
}
 
.assemble-pdf-section {
   position: relative;
   display: block;
}

.assemble-pdf-section ol {
   width: 30%;
}

.assemble-pdf-section ol li {
   margin: 2px 20px;
} 

.bold {
   font-weight: bold;
}

h2 {
   font-size: 1.4rem;
}

h3 {
   color: black;
}

    
.green-amount {
   color: hsl(140, 80%, 30%);
}

.red-amount {
   color: hsl(0, 100%, 40%);
}
