main {
  display: none;
}

#results {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1cm;
}

.kit-section {
  display: flex;
  gap: 2cm;
  font-size: .4cm;
  margin-top: 20px;
}

.green-amount {
  color: hsl(140, 80%, 30%);
}

.red-amount {
  color: hsl(0, 100%, 40%);
}

.kit-section ul {
  list-style: none;
}

.orders-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.orders-section div {
  display: flex;
  flex-direction: column;
  gap: 1mm;
  margin: .5cm;
  page-break-inside: avoid;
}

.orders-section ol {
  display: block;
  position: relative;
  list-style: none;
}

.orders-section ol > li {
  margin: .2mm 0;
} 

.assemble-list {
  page-break-before: always;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
}

.assemble-list li {
  margin: 2px 10px;
}